<!-- <div class="container-fluid ">
    <div class="row">
        <div class="col-2">
            <a href="" ><img class="logo" src="../../assets/logo/logo.png"></a>
        </div>
        <div class="col-5">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn search-btn" type="Login">Search</button>
              </form>
        </div>
        <div class="col-5 ">
            <a href="">sadbsabsamdb</a>
          
            <div class="collapse " id="navbarNav">
                <a>sasa</a>
            </div>
        </div>
    </div>    
</div> -->
<header>
    <div class="navbar bg-primary show">
        
        <div class="navbar-brand align-item-center d-flex" height="40px">
            <div class="fa fa-shipping-fast" style="color:white; font-size: 30px; margin-left: 20px;">&nbsp;&nbsp;  
              
            </div>
            <img src="../../assets/logo/logo.png" width="100px" >
            <div class="form-group">
                <input class="form-control"type="text" placeholder="Search">
            </div>
            <span class="fa fa-search"></span>
        </div>
        <button routerLink="cart" class="btn btn-primary cart-btn">
            <i class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>