<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="cart-item">
            <a>
                <img class="cart-img" src="../../assets/logo/allItem.png">
                <h6>All Item</h6>
            </a>
        </div>
        <div class="cart-item">
            <a>
                <img class="cart-img" src="../../assets/logo/mobile.png">
                <h6>Mobile</h6>
            </a>
        </div>
        <div class="cart-item">
            <a>
                <img class="cart-img" src="../../assets/logo/fashion.png">
                <h6 >Fashion</h6>
            </a>
        </div>
</div>
</div>