.cart-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #ffff;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
}
.cart-item a:hover{
    color: blue;
}
.cart-item{
    text-align: center;
    margin-right: 60px;
}
.cart-img{
    height:80px;

}