<app-cart-comp></app-cart-comp>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
               
                    <img class="img-responsive" src="{{item.image}}" alt="">
                    <h6>{{item.title}}</h6>
                    <p>{{item.description}}</p>
                    <p><strong>Prise:</strong>$ {{item.price}}</p>
                    <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
                

            </div>
        </ng-container>

    </div>
</div>