.card h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60ch;
    margin-top:10px;
}
.card p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60ch;
    
}
/* .row-desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 60ch;
} */
.card{
   padding: 20px;
   margin:45px; 
}
.card img{
    height: 200px;
    width: 200px;
    /* margin-bottom: 15px; */
    /* margin: 25px; */
    margin: auto;
   
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}